*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}

body,
#root {
  width: 100%;
  height: 100%;
  /* color: white; */
}
.login-wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./login.jpg") center/cover no-repeat;
  display: grid;
  place-items: center;
  color: white;
}
.signup-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./register.jpg") center/cover no-repeat;
}
.title {
  text-align: center;
  padding-bottom: 15px;
}
.form-wrapper {
  width: 400px;
  font-size: 14px;
  text-align: center;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 5px;
}
.form {
  text-align: left;
}
.form input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 0;
  outline: none;
  color: rgb(73, 73, 73);

  &:focus {
    outline: 2px solid dodgerblue;
  }
}
.form-btns {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.password {
  margin-bottom: 25px;
}
.btn {
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
  border: 0;
  color: white;
}
.login {
  background: #e72929;
}
.google {
  background: dodgerblue;
}
.link {
  color: dodgerblue;
}
